.titulo{

    margin: -1%;
    height: 100%;
    box-align: center;
    background:rgba(0, 0, 0, 0.918);

}
h2{

    padding: 2%;
    color: coral;

}

body{

    background: wheat;

}
.letras{

    color: rgba(15, 15, 70, 0.904);

}
.amarillo{

    color: black;

}