*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #090845;
    /* align-items: center;*/
    overflow: hidden;

}
div.col-triangulo{

    width: 40%;
    flex: 0 1 auto;

}
div.col-img{

    width: 100%;
    flex: 2 1 auto;

}
div.col-nav{

    text-align: center;
    width: 60%;
    flex: 0 1 auto;
    color: cornsilk;
    margin-top: 2px;

}
div.col-nav nav ul li{

    display: block;
    font-size: 18px;
    padding: 2px;

}
span{

    background-color: rgb(85, 83, 83);
    border-radius: 5px;
    display: block;
    position: fixed;
    left: 90%;
    margin: auto;
}
i{
    color: cornsilk;
    height: 1rem;
    width: 1rem;

}
/* header h1{

    background-color: burlywood;
    padding: 2%;

} */