/*GLOBALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    background-color: #090845;

}
/*******FIN DE GLOBALES********/
/* Comienzo del encabezado */
header{

    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    background-color: #090845;
    /* align-items: center;  */

}
div.col-triangulo{

    width: 100%;
    flex: 0 1 auto;

}
div.col-img{

    width: 100%;
    flex: 1 1 auto;

}
img{

    height: 100%;

}
div.col-gif{

    width: 100%;
    color: cornsilk;
    background-color: darkred;
    flex: 0 1 auto;
    text-align: center;
}
label{
    background-color: darksalmon;
    /* width: 100%; */
    /* height: 100%; */
    display: block;
    padding: 10px 0 10px 0;
    /* margin: auto; */
}
/* FIN DEL ENCABEZADO (HEADER) */

/* INICIO DEL MENU (NAV) */
div.col-nav{

    text-align: center;
    width: 100%;
    color: cornsilk;
    margin-top: 2px;

}
div.col-nav nav ul li{

    display: inline-block;
    font-size: 18px;
    padding: 2px;

}
/* FIN DEL NAV */

/* ACA DARIA COMIENZO AL SECTION */

/* ASIDE CON LOS ICONOS DE LAS REDES SOCIALES INAMOVIBLES */
aside{

    /* background-color: rgba(49, 47, 47, 0.582); */
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    
}
a{

    border-radius: 100%;
    font-size: 35px;
    display: block;
    padding: 8px 13px;
    margin: 5px;
    background-color: rgba(109, 109, 109, 0.322);
    color: cornsilk;

}
a:hover{

    background-color: crimson;
    padding: 8px 13px;

}
/* FIN DEL ASIDE */

/* ACA DARIA COMIENZO AL FOOTER */

/* DESDE ACA TODO LO QUE NO ME SALIO */
/* section article.social{

    background-color: crimson;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    /* position: fixed; */
    /* left: 97%; */
    /* position: fixed;
    right: 0;
    bottom: 0;
    
}*/
/* a{

    border-radius: 120%;
    font-size: 2rem;
    padding: 70% 90%;
    margin: 5px;
    background-color: rgba(49, 47, 47, 0.582);
    color: cornsilk;
    flex: 0 1 auto;
    border: solid cornsilk 2px;

}*/

/* header h1{

    background-color: burlywood;
    padding: 2%;

} */