/*GLOBALES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{

    /* background-color: #090845; */
    background-color: #f3f3f3;

}
div.logo-gif{

    position: fixed;
    right: 0;
    top: 0;
}
div.logo-gif img{

    /* display: block; */
    height: 10rem;
    animation: rot 12s infinite;
    
}
@keyframes rot{
    0%{
        transform: initial;
    }
    25%{

        transform: initial;

    }
    50%{

        transform: initial;

    }
    75%{
        transition: 4s;
        transform: rotateY(360deg);
    }

}
/*******FIN DE GLOBALES********/
/* Comienzo del encabezado */
header{

    display: flex;
    flex-flow: row nowrap;
    height: 5rem;
    /* background-color: #090845; */
    background-color: black;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    text-align: center;

}
div.col-icon{

    flex: 1 1 auto;

}
/*i.ico-color2 */
/* i.ico-color */
div.cont-icon button.btn-menu, div.cont-icon2 button.btn-cliente{

    font-size: 1.3rem;
    color: #ccc;
    background-color: crimson;
    border-radius: 0 30% 0 30%;
    padding: 12px;
    
}
div.cont-icon button.btn-menu:hover, div.cont-icon2 button.btn-cliente:hover{

    cursor: pointer;
    background-color: rgba(220, 20, 60, 0.795);
    color: wheat;

}
div.col-title{

    flex: 2 1 auto;
    color: #ccc;
}
div.col-icon2{

    flex: 1 1 auto;
    text-align: left;

}
div.cont-icon2 i.ico-color2{

    font-size: 1rem;
   
}
div.cont-icon2 i.ico-color2 span{

    margin-left: 5px;

}

/* FIN DEL ENCABEZADO (HEADER) */

/* INICIO DEL MENU (NAV) */
div.col-nav{

    text-align: center;
    width: 100%;
    color: cornsilk;
    /* margin-top: 2px; */
    background-color: rgba(109, 109, 109, 0.767);

}
div.col-nav nav ul li{

    display: inline-block;
    font-size: 1.1rem;
    padding: 3px;

}
/* FIN DEL NAV */

/* ACA DARIA COMIENZO AL SECTION */
form{

    
    /* flex-flow: row nowrap; */
    /* background-color: darkmagenta; */
    /* align-items: center; */
    /*text-align: center; */

}
/* div.cont-form{

    display: flex;
    background-color: deeppink;
    justify-content: center;
    

} */
div.cont-formulario{

    display: inline-block;
    margin: 2rem 2rem;
    background-color:  #f3f3f3;
    /* padding: 0 2rem 2rem 2rem; */
    border: 2px solid  rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    text-align: center;
    color: #212529;
    box-shadow: 5px 5px 2px 1px rgba(0,0,0,0.28);
    /* flex: 1 1 auto; */

}
div.cont-head{
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
}
div.cont-body{

    padding: 1rem;

}
div.separador{

    margin-bottom: 2px;

}

/* ***********Estilos a los imputs********** */
form div.cont-body input[type = number]{

    /* font: 400 20px Arial; */
    font-size: 1.2rem;
    border-radius: 10px;
    width: 6rem;
    height: 2.2rem;
    border: none;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 0;
}
form div.cont-body label{

    font-size: 1.2rem;

}
button.mas{
    background-color: dodgerblue;
    color: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem;
    position: relative;
    right: 0;  
    border: none;
    font-size: 2rem;
}
button.mas:hover{

    cursor: pointer;
    background-color: deepskyblue;
    color: #ccc

}
div input.sub-fin {
    text-decoration: none;
    background-color: rgb(30, 163, 81);
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid lightblue;
    margin-right: 5px;
    
}
div input.sub-fin:hover{

    cursor: pointer;
    background-color: rgb(34, 207, 63);
    color: rgb(15, 15, 15);

}
div input.sub-lim {
    text-decoration: none;
    background-color: rgb(163, 50, 30);
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid lightblue;
    
    
}
div input.sub-lim:hover{

    cursor: pointer;
    background-color: rgb(199, 54, 54);
    color: rgb(15, 15, 15);

}
/* ASIDE CON LOS ICONOS DE LAS REDES SOCIALES INAMOVIBLES */
aside.social{

    /* background-color: rgba(49, 47, 47, 0.582); */
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    
}
aside.social a{

    border-radius: 100%;
    font-size: 1.8rem;
    display: block;
    padding: 14px 16px 10px 16px;
    margin: 5px;
    background-color: rgba(109, 109, 109, 0.767);
    color: cornsilk;
    /* transform: rotateY(360deg); */
    animation: girar 5s ;

}

aside.social a:hover{

    transition: 2s;
    transform: scale(1.1);
    background-color: crimson;
    /* padding: 13px 14px 9px 14px;
    font-size: 1.7rem; */

}
@keyframes girar{
    from{

        opacity: 0;
    }
    to{

        transform: rotateY(360deg);
    }

}

/* FIN DEL ASIDE */

/* ACA DARIA COMIENZO AL FOOTER */

/* DESDE ACA TODO LO QUE NO ME SALIO */
/* section article.social{

    background-color: crimson;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    /* position: fixed; */
    /* left: 97%; */
    /* position: fixed;
    right: 0;
    bottom: 0;
    
}*/
/* a{

    border-radius: 120%;
    font-size: 2rem;
    padding: 70% 90%;
    margin: 5px;
    background-color: rgba(49, 47, 47, 0.582);
    color: cornsilk;
    flex: 0 1 auto;
    border: solid cornsilk 2px;

}*/

/* header h1{

    background-color: burlywood;
    padding: 2%;

} */
/* label{
    background-color: darksalmon;
    /* width: 100%;
    /* height: 100%;
    display: block;
    padding: 10px 0 10px 0;
    /* margin: auto;
} */