
div.cont-body{

    padding: 1rem;

}

/* *********** NUEVO FORMULARIO ************ */

div.cont-form{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 2rem 0 2rem 0;
    animation: vista 4s;
}
@keyframes vista{

    from{
        opacity: 0;
    }to{
        opacity: 1;
    }

}
div.contenedor-emp{

    border: 1px solid #ccc;
    background-color: #f3f3f3;
    box-shadow: -1px 9px 9px 0px rgba(50, 50, 50, 0.75);
    width: 25%;
}
div h3{

    background-color: rgba(204, 204, 204, 0.534);
    padding: 1rem;
}
div.image img{

    width: 20rem;
    height: 10rem;
    box-shadow: 0px 9px 20px 0px rgba(50, 50, 50, 1);

}
div.separador{

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
div.envio{

    background-color: #ccc;
    padding:  0 2rem 2rem 2rem;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: -1px 9px 9px 0px rgba(50, 50, 50, 0.75);
    
}

/* ********* FIN DEL NUEVO FORMULARIO ******** */

/* TABLA DE PRECIOS */
table{
    /* background-color: #f5f5f5; */
    /* padding: 1rem; */
    width: 60%;
    text-align: center;
    box-shadow: -1px 9px 9px 0px rgba(50, 50, 50, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.582);
    margin: auto;
    margin-bottom: 2rem;
    border-collapse: collapse;
}
th, td{
    
    padding: 1rem;
    background-color: rgba(204, 204, 204, 0.432);
    font-weight: bold;
    
}
th{
    
    background-color: rgba(176, 196, 222, 0.603);

}
tr:nth-child(even){

    background-color: #ccc;
}
/* ***********Estilos a los imputs********** */
input[type = number], input[type = text]{

    /* font: 400 20px Arial; */
    font-size: 1.2rem;
    border-radius: 10px;
    width: 25%;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 0;
}
input.cuadroRojo{

    border: 1px solid crimson;

}
input.cuadroVerde{

    border: 1px solid green;

}
label{

    font-size: 1.2rem;
    margin: 0 5px 0 5px ;

}
div input.sub-fin {
    text-decoration: none;
    background-color: rgb(23, 58, 18);
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid lightblue;
    margin-left: 1rem;
    width: 12rem;
}
div input.sub-fin:hover{

    cursor: pointer;
    background-color: rgb(29, 121, 29);
    color: #ccc;

}
