/*GLOBALES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    font-family: 'Roboto', sans-serif;

}
body{

    background-color: #f3f3f3;
    
}

/******** INICIO DE LOGO FIJO CON ANIMACIÓN **********/
div.logo-gif{

    position: fixed;
    right: 0;
    top: 0;
}
div.logo-gif img{

    height: 10rem;
    animation: rot 12s infinite;
    
}
@keyframes rot{
    0%{
        transform: initial;
    }
    25%{

        transform: initial;

    }
    50%{

        transform: initial;

    }
    75%{
        transition: 4s;
        transform: rotateY(360deg);
    }

}

/******** FIN DE LOGO FIJO CON ANIMACIÓN **********/

/********** INICIO HEADER *********/

header{

    display: flex;
    flex-flow: row nowrap;
    height: 5rem;
    background-color: #2A2A2A;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 5px 0px rgba(204,204,204,1);

}
/********* INICIO MENU HAMBURGUESA **********/
   
    div.menu{

        flex: 1 1 auto;
        text-align: right;

    }
    div.menu-ham{

        width: 50%;
        height: 30px;
        position: relative;
        cursor: pointer;

    }
    .menu-ham #linea1,#linea2,#linea3{
        
        position: absolute;
        background-color: #ccc;
        width: 50%;
        height: 5px;
        border-radius: 5px;
        transition: all 1s ease;

    }
    #linea2.derecho2{

        top: 11px;

    }
    #linea3.derecho3{

        top: 22px;

    }
    #linea1.cruzado1{

        transform: rotate(140deg);
        top: 10px;
        background-color: crimson;

    }
    #linea2.cruzado2{

        opacity: 0;

    }
    #linea3.cruzado3{

        transform: rotate(-140deg);
        top: 10px;
        background-color: crimson;

    }

/********* FIN MENU HAMBURGUESA **********/
div.col-title{

    flex: 1 1 auto;
    /* background-color: darkred; */

}
div.col-title img{

    width: 65%;
    height: 3.5rem;

}
div.col2{

    flex: 1 1 auto;
    text-align: left;
    color: #ccc;

}
div.btn-pedido{

    width: 45%;
    background-color: #a5202b;
    border-radius: 0 30% 0 30%;
    padding: 12px;
    /* border: 1px solid #a5202b; */
    box-shadow: -3px -3px 0px 0px rgba(204, 204, 204, 0.733);

}
div.btn-pedido a{

    font-size: 1.2rem;
    color: #ccc;
    text-decoration: none;

}
div.btn-pedido a:hover{

    color: rgba(245, 222, 179, 0.849);

}

/* *********** FIN DE HEADER *********** */

/* ******** INICIO DEL MENU (NAV) ******* */
div.col-nav{

    text-align: center;
    width: 100%;
    background-color: rgba(109, 109, 109, 0.767);
    animation: aparecer 3.5s ;
}
@keyframes aparecer{
    from{

        opacity: 0;
    }
    to{

        opacity: 1;
    }

}
div.col-nav nav ul li{

    display: inline-block;
    font-size: 1.1rem;
    padding: 3px;
    margin-right: 2rem;
    
}
div.col-nav nav ul li a{

    text-decoration: none;
    color: cornsilk;

}
div.col-nav nav ul li a:hover{

    color: lightskyblue;

}
/* ******* FIN DEL NAV ****** */
/* ******* CARROUSEL ****** */
div.cont-fotos img{

    width: 100%;
    height: 20rem;

}

/* SECCION RELLENO */

div.container{

    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem auto;
    background-color: rgba(204, 204, 204, 0.404);
    padding: 10px 0 5px 0;
    border-radius: 7px;
    border: 1px solid #ccc;

}
div.container a{

    text-decoration: none;
    color: black;

}
div.container p{

    /* margin-left: 10px; */
    font-size: 0.9rem;

}

/* ASIDE CON LOS ICONOS DE LAS REDES SOCIALES INAMOVIBLES */
aside.social{

    /* background-color: rgba(49, 47, 47, 0.582); */
    position: fixed;
    right: 0;
    bottom: 0;
    
}
aside.social a img{

    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: block;
    padding: 2px;
    margin: 5px;
    background-color: #ccc;
    animation: girar 5s ;
    transition: all 2s ease;

}

aside.social a img:hover{

    transform: scale(0.9);
    border: 1px solid #f3f3f3;

}
@keyframes girar{
    from{

        opacity: 0;
    }
    to{

        transform: rotateY(360deg);
    }

}

/* ********* FIN DEL ASIDE CON ANIMACION ******* */

/* ********** INICIO FOOTER ********** */
div.ventas{

    background-color: rgb(97, 93, 93);
    text-align: center;
    padding: 0.5rem;

}
footer{

    background-color: #2A2A2A;
    /* height: 100px; */
    color: #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}
footer div.foot-col{

    display: inline-block;
    /* background-color: aqua; */
    margin: 0 2rem;
    
}
footer ul li a, div.ventas a{

    color: #ccc;
    text-decoration: none;

}
footer ul li a:hover{

    color: lightskyblue;

}
div.icon-social a img{

    width: 2.5rem;
    height: 2.5rem;

}